{% extends "base.html" %}
{% load i18n %}
{% load phonebook_custom_tags %}


{% block style %}
    <style>
        .pagination > li > a {
            background-color: white;
            color: orangered;
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: orangered;
            background-color: orange;
            border-color: coral;
        }

        .pagination > .active > a {
            color: white;
            background-color: darkorange !Important;
            border: solid 1px lightcoral !Important;
        }

        .pagination > .active > a:hover {
            background-color: yellow !Important;
            border: solid 1px orange;
        }
    </style>
{% endblock %}

{% block content %}
    <div class='text-center fs-5' style="margin-top: 100px;">
        <a type='button' href="{% url 'info:download-phone-book' %}" style='text-decoration: none; color:white;' class='btn btn-primary'>
            {% trans "Download" %}  <i class="fa fa-download"></i>
        </a>
    </div>
    <div style="padding-right: 200px; padding-left: 200px;padding-top: 40px;">
        <table id="output-tbl" class="table table-info table-striped table-hover text-center">
            <tr>
                <td colspan="5">{% trans "Added Phone Number" %}</td>
            </tr>
            <tr class="static">
                <th>{% trans "First Name" %}</th>
                <th>{% trans "Last Name" %}</th>
                <th>{% trans "Phone Number" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            {% for row in object_list %}
                <tr id="{{ row.pk }}" class="static">
                    <td>{{ row.first_name }}</td>
                    <td>{{ row.last_name }}</td>
                    <td>
                        <p>
                            {% if request.LANGUAGE_CODE == 'fa' %}
                                {{ row.phone_number|convert_to_persion_number:'fa' }}
                            {% else %}
                                {{ row.phone_number|convert_to_persion_number:'en' }}
                            {% endif %}
                        </p>
                        <form id="phone_form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>
                                    <input class="input_phone" type="text" maxlength="11" disabled="disabled">
                                </label>
                            </div>
                        </form>
                        <button class="submit btn btn-primary disabled mt-3" onclick="submitButtonFunction(event)"
                                data-id="{{ row.pk }}"> <i class='fa fa-check-circle'></i> {% trans "Submit" %}
                        </button>
                    </td>
                    <td>
                        <button class="edit btn btn-primary mt-4" data-id="{{ row.pk }}" onclick="editButtonFunction(event)">
                                <i class="fa fa-edit"></i> {% trans "Edit" %}
                        </button>
                    </td>
                    <td>
                        <form method='post' action="{% url 'info:delete_phone_number' row.pk %}">
                            {% csrf_token %}
                            <button class='btn btn-primary mt-lg-4' type='submit'>
                               <i class='fa fa-trash'></i> {% trans "Delete" %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        {% trans "First" %}
                    </a>
                </li>
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ i }}">
                                {% if request.LANGUAGE_CODE == 'fa' %}
                                    {{ i|convert_to_persion_number:'fa' }}
                                {% else %}
                                    {{ i|convert_to_persion_number:'en' }}
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">
                                {% if request.LANGUAGE_CODE == 'fa' %}
                                    {{ i|convert_to_persion_number:'fa' }}
                                {% else %}
                                    {{ i|convert_to_persion_number:'en' }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.num_pages }}">
                        {% trans "Last" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>

        let trs = {};

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function editButtonFunction(event) {
            let input_elm, submit_btn, chosen_row_id, tr;

            chosen_row_id = event.currentTarget.dataset["id"];
            tr = $("#" + chosen_row_id);

            input_elm = tr.find(".input_phone");
            submit_btn = tr.find(".submit");

            submit_btn.removeClass("disabled");
            input_elm.removeAttr("disabled");

            trs[chosen_row_id] = tr;
        }

        function submitButtonFunction(event) {
            let input_elm, submit_btn, chosen_row_id, tr;
            let csrf_token, p_elm, new_phone_number;

            chosen_row_id = event.currentTarget.dataset["id"];
            tr = trs[chosen_row_id];
            p_elm = tr.find("p")
            csrf_token = getCookie('csrftoken');
            input_elm = tr.find(".input_phone");
            submit_btn = tr.find(".submit");
            new_phone_number = input_elm.val();

            $.ajax(
                {
                    url: "{% url 'info:update' %}" + "?pk=" + chosen_row_id,

                    headers: {'X-CSRFToken': csrf_token},

                    method: "POST",

                    data: {
                        phone_number: new_phone_number
                    },

                    success: function (response) {
                        p_elm.html(new_phone_number);
                        alert(response["messages"]);
                    },

                    error: function (response) {
                        alert(response.responseJSON.messages.phone_number[0]);
                    }
                }
            )

            input_elm.attr("disabled", "disabled");
            submit_btn.addClass("disabled");
            input_elm.val("");
        }

        //$(document.ready(function () {} ));
        //$(function (){});

    </script>
{% endblock %}